<section>
    <mat-toolbar [color]="themeColor">
        
        <button mat-icon-button  
        [ngClass]="{'active': section === 'home'}"
        pageScroll
        (click)="navToSection('home')"
        matTooltip="Home">
            <mat-icon>&#xe87c;</mat-icon>
        </button>

        <button mat-icon-button
        (click)="toggleTheme()"
        matTooltip="Toggle dark theme">
            <mat-icon>brightness_6</mat-icon>
        </button>


        <span class="spacer"></span>
        <!-- ? below button will help us change the theme at run-time. -->
        
         
        <div class="nav-link-container">
            <button mat-stroked-button
                [ngClass]="{'active': section === 'about'}"
                pageScroll
                (click)="navToSection('about')">
                About.me
            </button>

            <button mat-stroked-button
                [ngClass]="{'active': section === 'skills'}"
                pageScroll
                (click)="navToSection('skills')">
                Skill.services
            </button>

            <button mat-stroked-button
                [ngClass]="{'active': section === 'portfolio'}"
                pageScroll
                (click)="navToSection('portfolio')">
                Portfolio.build
            </button>

            <button mat-stroked-button
                [ngClass]="{'active': section === 'contact'}"
                pageScroll
                (click)="navToSection('contact')">
                Contact.next
            </button>
         
        </div>
          
     
        
      </mat-toolbar>
</section>
