<section>
    <mat-toolbar [color]="themeColor">
        
        <span>Portfolio</span>
        <span class="spacer"></span>
        <!-- ? below button will help us change the theme at run-time. -->
        <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle dark theme">
          <mat-icon>brightness_6</mat-icon>
        </button>
          
        <a [routerLink]="['/home']" fragment="Test">Jump to 'Test' anchor </a>
        <!-- ? below menu will help us change the color at run-time. -->
         
          
     
        
      </mat-toolbar>
</section>
