<section>
    <mat-toolbar [color]="themeColor">
        
        <button mat-icon-button  
            [ngClass]="{'active': section === 'home'}"
            pageScroll
            (click)="navToSection('home')"
            matTooltip="Home">
            <mat-icon>&#xe87c;</mat-icon>
        </button>

        <button mat-icon-button
            (click)="toggleTheme()"
            matTooltip="Toggle dark theme">
            <mat-icon>brightness_6</mat-icon>
        </button>


        <span class="spacer"></span>
        <!-- ? below button will help us change the theme at run-time. -->
        
        <div class="nav-link-container">
            <button mat-button
            color="accent"
                [ngClass]="{'active': section === 'about'}"
                pageScroll
                (click)="navToSection('about')">
                01 About
            </button>

            <button mat-button
            color="accent"
                [ngClass]="{'active': section === 'skills'}"
                pageScroll
                (click)="navToSection('skills')">
                02 Skills
            </button>

            <button mat-button
            color="accent"
                [ngClass]="{'active': section === 'portfolio'}"
                pageScroll
                (click)="navToSection('portfolio')">
                03 Portfolio
            </button>

            <button mat-button
            color="accent"
                [ngClass]="{'active': section === 'contact'}"
                pageScroll
                (click)="navToSection('contact')">
                04 Contact
            </button>
         
        </div>
          
     
        
      </mat-toolbar>
</section>
