---
---

@import "{{ site.theme }}";


a {
    color: !important #69c3a2;
    text-decoration: none
}

a:hover,a:focus {
    color:!important #69c3a2;
    font-weight: normal;
}

a small {
    font-size: 11px;
    color: #69c3a2;
    margin-top: -0.3em;
    display: block
}

a:hover small {
    color: #69c3a2;
}