/* Global Styles */

:host {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .Clr-Site {
        display: flex;
        flex-flow: column;
        min-height: 100vh;
    }

    
}