
<!-- TODO top loader goes here -->
<!-- <pending-indicator></pending-indicator> -->

<header>
    <section [class.dark-theme]="(this.themeDarkMode$ | async)">
        <app-header></app-header>
    </section>
</header>
<body>
    <!-- <router-outlet> -->
    <!-- </router-outlet> -->
    <div class="site-wrapper">
        <app-page-home></app-page-home>
        <app-page-about></app-page-about>
        <section #skills id="skills" class="app-section type1">
        </section>
        <section #portfolio id="portfolio" class="app-section type2">
            <!-- <app-page-home></app-page-home> -->
        </section>
        <section #contact id="contact" class="app-section type1">
            <!-- <app-page-home></app-page-home> -->
        </section>
    </div>
</body>
<!-- <footer>

</footer> -->
<!-- <main>
    
</main> -->
