
<!-- TODO top loader goes here -->
<!-- <pending-indicator></pending-indicator> -->

<header>
    <section [class.dark-theme]="(this.themeDarkMode$ | async)">
        <app-header></app-header>
    </section>
</header>
<body>
    <!-- <router-outlet> -->
    <!-- </router-outlet> -->
    <app-page-home></app-page-home>
    <app-page-about></app-page-about>
    <section class="app-section type1">
    </section>
    <section class="app-section type2">
    </section>
    <section class="app-section type1">
    </section>
    <section class="app-section type2">
        <app-page-home></app-page-home>
    </section>


  
  <div #section1 class="scroll-outer">
    <div class="card-container">
      <h3>Section 1</h3>
    </div>
  </div>
  <div #section2 class="scroll-outer">
    <div class="card-container">
      <h3>Section 2</h3>
    </div>
  </div>
  <div #section3 class="scroll-outer">
    <div class="card-container">
      <h3>Section 3</h3>
    </div>
  </div>
  <div #section4 class="scroll-outer">
    <div class="card-container">
      <h3>Section 4</h3>
    </div>
  </div>
  <div #section5 class="scroll-outer">
    <div class="card-container">
      <h3>Section 5</h3>
    </div>
  </div>



</body>
<!-- <footer>

</footer> -->
<!-- <main>
    
</main> -->
