
<!-- TODO top loader goes here -->
<!-- <pending-indicator></pending-indicator> -->

<header>
    <section [class.dark-theme]="(this.themeDarkMode$ | async)">
        <app-header></app-header>
    </section>
</header>
<body>
    <!-- <router-outlet></router-outlet> -->
    <section class="app-section type1">
    </section>
    <section class="app-section type2">
    </section>
    <section class="app-section type1">
    </section>
    <section class="app-section type2">
        <app-page-home></app-page-home>
    </section>
</body>
<!-- <footer>

</footer> -->
<!-- <main>
    
</main> -->
