// src/style-theme.scss
@import '~@angular/material/theming';

// Define custom color palettes
$neon-teal-palette: (
    50: #e0f2f1,
    100: #b2dfdb,
    200: #80cbc3,
    300: #4db6ab,
    400: #26a699,
    500: #009687,
    600: #00897a,
    700: #00796a,
    800: #00695b,
    900: #004d3f,
    A100: #A7FFEB,
    A200: #64FFDA,
    A400: #1DE9B6,
    A700: #00BFA5,
    contrast: (
        50: #263238,
        100: #37474f,
        200: #455a64,
        300: #546e7a,
        400: #607d8b,
        500: #607d8b,
        600: #607d8b,
        700: #78909c,
        800: #90a4ae,
        900: #b0bec5,
        A100: #cfd8dc,
        A200: #cfd8dc,
        A400: #eceff1,
        A700: #eceff1,
    )
);

$flat-blue-grey-palette: (
    50: #eef9ff,
    100: #e6f1ff,
    200: #dce7ff,
    300: #cbd6ee,
    400: #a7b2c9,
    500: #8791a8,
    600: #5f697f,
    700: #4c566b,
    800: #2d384b,
    900: #0c1829,
    A100: #e8eaef,
    A200: #c4cad9,
    A400: #9fa8bf,
    A700: #7c87a5,
    contrast: (
        50: #c4d0f3,
        100: #c4d0f3,
        200: #c4d0f3,
        300: #c4d0f3,
        400: #7593dd,
        500: #7593dd,
        600: #7593dd,
        700: #c4d0f3,
        800: #c4d0f3,
        900: #c4d0f3,
        A100: #c4d0f3,
        A200: #c4d0f3,
        A400: #c4d0f3,
        A700: #c4d0f3,
    )
);


// Define primary theme
$portfolio-primary: mat.define-palette($flat-blue-grey-palette, 900, 900, 700);
$portfolio-accent: mat.define-palette($neon-teal-palette, 200, 200, 50);
$portfolio-warn: mat.define-palette(mat.$red-palette);

// Define a dark theme
$dark-primary: mat.define-palette(mat.$teal-palette);
$dark-accent: mat.define-palette(mat.$blue-gray-palette);

// Define typography
$custom-typography: mat.define-typography-config(
  $display-4:     mat.define-typography-level(
    $font-family: 'Roboto',
    $font-weight: 600,
    $font-size: 112px,
    $line-height: 112px,
    $letter-spacing: normal,
),
  $display-3:     mat.define-typography-level(
    $font-family: 'Roboto',
    $font-weight: 600,
    $font-size: 56px,
    $line-height: 56px,
    $letter-spacing: normal,
),
  $display-2:     mat.define-typography-level(
    $font-family: 'Roboto',
    $font-weight: 600,
    $font-size: 45px,
    $line-height: 45px,
    $letter-spacing: normal,
),
  $display-1:     mat.define-typography-level(
    $font-family: 'Roboto',
    $font-weight: 600,
    $font-size: 34px,
    $line-height: 34px,
    $letter-spacing: normal,
),
  $headline:      mat.define-typography-level(
    $font-family: 'Roboto',
    $font-weight: 600,
    $font-size: 24px,
    $line-height: 24px,
    $letter-spacing: normal,
),
  $title:         mat.define-typography-level(
    $font-family: 'Roboto',
    $font-weight: 600,
    $font-size: 20px,
    $line-height: 20px,
    $letter-spacing: normal,
),
  $subheading-2:  mat.define-typography-level(
    $font-family: 'Lora',
    $font-weight: 400,
    $font-size: 16px,
    $line-height: 16px,
    $letter-spacing: normal,
),
  $subheading-1:  mat.define-typography-level(
    $font-family: 'Lora',
    $font-weight: 400,
    $font-size: 15px,
    $line-height: 15px,
    $letter-spacing: normal,
  ),
  $body-2:        mat.define-typography-level(
    $font-family: 'Lora',
    $font-weight: 600,
    $font-size: 14px,
    $line-height: 14px,
    $letter-spacing: normal,
  ),
  $body-1:        mat.define-typography-level(
    $font-family: 'Lora',
    $font-weight: 400,
    $font-size: 14px,
    $line-height: 14px,
    $letter-spacing: normal,
  ),
  $button:         mat.define-typography-level(
    $font-family: 'Space Mono',
    $font-weight: 400,
    $font-size: 14px,
    $line-height: 14px,
    $letter-spacing: normal,
  ),
  $input:            mat.define-typography-level(
    $font-family: 'Space Mono',
    $font-weight: 400,
    $font-size: 1rem,
    $line-height: 1,
    $letter-spacing: normal,
  ),
  $caption:   mat.define-typography-level(
    $font-family: 'Space Mono',
    $font-weight: 400,
    $font-size: 12px,
    $line-height: 12px,
    $letter-spacing: normal,
  ),
);

$portfolio-theme: mat.define-light-theme((
  color: (
    primary: $portfolio-primary,
    accent: $portfolio-accent,
    warn: $portfolio-warn,
  )
));

$dark-theme: mat.define-dark-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $portfolio-warn,
  )
));



